* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*************** Home-left ****************/

.left{
  background-color: #EDF0F4;
  height: 100vh !important;
  width: 18% !important;
}

li > a {
  text-transform: capitalize;
  font-family: Montserrat;
}

ul > li{
  margin-left: 10%;
}

.heading {
  font-family: maicrosoft himalaya;
}

/* .logo{
  font-family: platino Linotype;
  font-size: 2.5rem;
} */

.logbtn{
  margin:auto;
  margin-top: 100px;
  width: 70% !important;
}

.logoutbtn{
  padding: 5px;
  background-color: #6F7CF0;
  border: none;
}

.headtext{
  margin-left: 10%;
}

.image > img{
  margin-left: -50px !important;
}


/*************** Home-Right ****************/


.right{

  height: 100vh !important;
  width: 82%;
}